@font-face {
  font-family: 'DroidSans';
  src: url('../Font/DroidSans-webfont.eot') format('eot'),
         url('../Font/DroidSans-webfont.woff') format('woff'),
         url('../Font/DroidSans-webfont.ttf') format('truetype'),
         url('../Font/DroidSans-webfont.svg') format('svg');
}

@font-face {
  font-family: 'Gisbon';
  src: url('../Font/gisbon/Gisbon DEMO.ttf') format('truetype');
}

@font-face {
  font-family: 'Comebro';
  src: url('../Font/comebro/Comebro_1.ttf') format('truetype'),
      url('../Font/comebro/Comebro_1.otf') format('otf');
}

@font-face {
  font-family: 'Clarista';
  src: url('../Font/clarista/Clarista.otf') format('otf');
}

@media all {
    #backgroundImage {
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    position: absolute;
    height: 1200;
    width: 1600;
    }

    body{
        /*background:url("../activite_partie1/body_background.jpg") 0 0 no-repeat;*/
        background-color: #cccccc; /* Used if the image is unavailable */
        background-size: cover;
        background-attachment: fixed;
        background-color:aquamarine 0.5 0.5;
        background-size: 100% 100%;
        font-family: 'DroidSans', Fallback, sans-serif;
    }

    h1, h2{
        color: #462100;
        font-family: 'Clarista','Comebro','Gisbon', 'DroidSans', Fallback, sans-serif;
        font-size: 2em;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        box-shadow:  4px 4px 0px grey;
    }

    a {
        color: #462100;
        text-decoration: none;
    }

    b {
        text-decoration: underline;
    }

    a:hover {
        color: black;
        text-decoration: underline;
    }

    #image, h1{
        text-align: center;
    }

    .imageCV{
        margin: 2em;
        border: 3px white groove;
        border-radius: 10px;
        height: auto;
        width: 10%;
        position: fixed;
        top: 0;
        right: 0;
    }

    ul{
        list-style: none;
    }

    #SousTitre{
        margin: 0em;
        padding: 0em;
        color: black;
        font-size: 0.2em;
        font-family: 'DroidSans';
        font-style: italic;

    }

    .cvContent {
        display: flex;
        margin-top: 4em;
    }

    .bordereauElement,.experienceElement,.competenceElement,.formationElement{
        justify-content: space-between;
        margin: 0.5em;
    }

    .bordereauElement {
        background-color: #462100;
        opacity: 0.7;
        border-radius: 10px;
    }

    .bordereauElement:nth-child(1)
    {
        order: 1;
        flex: 1;
    }

    .experienceElement:nth-child(2)
    {
        order: 2;
        flex: 3;
    }

    .competenceElement:nth-child(3)
    {
        order: 3;
        flex: 2;
    }

    .formationElement:nth-child(4)
    {
        order: 4;
        flex: 2;
    }
}
