@font-face {
    font-family: 'Ballpark';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.svg') format('svg'),
        url('polices/ballpark.ttf') format('truetype'),
        url('polices/ballpark.woff') format('woff');
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.svg') format('svg'),
        url('polices/dayrom.ttf') format('truetype'),
        url('polices/dayrom.woff') format('woff');
}

/*Style en général*/
body {
    background-color: beige;
    font-family: inherit, sans-serif;
}

a {
    text-decoration: none;
}

#EnTete, #Article, #Conclusion, #conteneurPartieAmis, #Banniere {
    display: flex;
    justify-content: space-between;
}

img {
    margin: 0em;
    padding: 0em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Ballpark', sans-serif;
    margin:0em;
    padding: 0em;
}

h2 {
    font-family: 'Dayrom', sans-serif;
    text-transform: uppercase;
}

/*Style Entête*/
#EnTete {
    margin: 0em;
    padding: 0em;
}

.Logo {
    margin: 0;
    padding: 0;
}

#logoImg {
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

.Rubriques {
    font-family: 'Dayrom', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.IDcarnetDeVoyage {
    text-transform: lowercase;
    margin-top: 0em;
    padding-top: 0em;
}

.Icones {
    justify-content: space-between;
    margin-top: 4em;
    margin-right: 2em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.Onglet {
    justify-content: space-between;
    margin: 1em;   
}

a.LienMenu {
    color: black;
}

a.LienMenu:hover {
    border-bottom: 0.2em solid darkred;
    color: darkred;
    font-weight: bold;
}

#SautLigne {
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -1.2em;
    padding: 0em;
}

/*Style Banniere*/
#Banniere, figure {
    margin: 0em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.ImageBanniere {
    border-radius: 5px;
    justify-content: center;
}

a.LienBanniere {
    color: white;
    background-color: darkred;
    margin: 1em;
    padding: 0.3em;
    border-radius: 5px;
}

#figUne{
    color: white;
    background-color: black;
    opacity: 0.7;
    margin-top:-2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-radius: 5px;
}

#figDeux{
    margin-top:-4.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 50em;
    border-radius: 5px;
}

/*Style Je suis un grand voyageur*/
#Article {
    margin: 1em;
}

.imgArticle {
    margin-right: 0.5em;
}

.partieGauche {
    margin-right: 0.5em;
}

.partieDroite {
    background-color: grey;
    color: white;
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.element {
    text-align: center;
    margin: 0em;
    padding: 0em;
}

.reseauSociaux {
    padding: 0.5em;
}

.partieGauche:nth-child(1)
{
    order: 1;
    flex: auto;
}
.partieDroite:nth-child(2)
{
    order: 2;
    flex: auto;
}


/*Style Conclusion*/
.TexteConclu {
    text-align: center
}

.mesPhotoConclu {
    border:0.2em solid black;
    margin: 0.2em;
}

#conteneurPartieAmis {
    display: flex;
    flex-direction: column;
    margin: 0em;
    padding: 0em;
}

.colonne {
    text-align: center;
}

.ligne {
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
}